.newpage {

	background-image: linear-gradient(
		rgba(56,70,77,0.9),
		rgba(56,70,77,0.9)),
		url('../assets/mountain.jpg');
	background-size: cover;
	background-attachment: fixed;
	height: 101vh;
    display: flex;
	flex-direction: column;
	justify-content:space-around;
	align-items: center;
	color: #eee;

	
	padding: 12rem;
	

	h3, h4 {
		text-transform: uppercase;
		word-spacing: 1px;
	}

	p{
		line-height: 1.8;
		max-width: 114rem;
	
		width: 80%;
		text-align: left;
		font-size: 20px;
	}
  }
  
  .img-me {
    height: 16rem;
    margin-bottom: 4rem;
    border-radius: 50%;
}