

.page {
  

  background-image:linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url("https://source.unsplash.com/random/1920*1080");
  
  // background-image: url("../assets/background.jpg");
  background-repeat: no-repeat;
  background-color: transparent;
  background-attachment: fixed;
  background-color: black;
  background-size: cover;
  height: 100vh;
  min-height:100vh;
  background-position: center center; 
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: -2.3vh;
  flex-direction: column;
                /* optional, center the image */
              
}


.center{
  text-align: center;
}


.text {

  // height: 100px;
  // width: 100%;

  
  color: white;

  h2{
    font-weight: 300;
    font-size: 50px;
  }
  h3{
    font-weight: 300;
    text-align: center;
  }
  
  
}