@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
@import "~bootstrap/scss/bootstrap";
// $fa-font-path: "~font-awesome/fonts";
// @import '~font-awesome/scss/font-awesome.scss';

@import './header.scss';
@import './aboutme.scss';
@import './navbar.scss';
@import './aboutme.scss';
@import './certificates.scss';
@import './important.scss';


html,body{
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    // color: #38464D;
    // line-height: 1.5;
    // letter-spacing: 1.2em;
    font-size: 62.5%;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
    margin:0;
    padding:0;
}